.profile__name {
    display: flex;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    margin-bottom: 35px;
    justify-content: space-between;
    align-items: center
}

.profile__name p {
    margin: 0;
}