.profile {
    max-width: 410px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    margin-top: 75px;
}

.profile h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}