.profile__exit {
    text-decoration: none;
    color: #EE3465;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
}

.profile__exit:hover {
    text-shadow: 1px 1px 1px;
}