.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 65px;
    max-width: 1200px;
}

.header__group {
    height: 74px;
    min-width: 256px;
    display: flex;
}

.header__container {
    display: flex;
}

.header__nav-link {
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 16px;
    display: none;
}

.header__group-style {
    min-width: 1027px;
}

.header__menu {
width: 40px;
height: 43px;
cursor: pointer;
background-image: url(../../images/profile.svg);
background-position: center;
background-color: transparent;
border: 0;
cursor: pointer;
}

.header__register {
    margin-right: 70px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.header__login {
    background-color: #3DDC84;
    border: none;
    border-radius: 3px;
    padding: 8px 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}
